<h1>{{note.title}}</h1>
<h4>{{formatDate note.dateCreated}}</h4>
<a href="/notes/edit/{{note._id}}"> Edit note</a>
<p>{{note.body}}</p>

<br>

<br>
  <form action="/notes/delete/{{note._id}}" method="POST" >
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete note</button> 
  </form>